.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: device-vw(20) 0;

  @media (--desktop) {
    padding: device-vw(40) 0;
  }

  .head {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }
}
