.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: calc(((20 * 100) / var(--device-width)) * 1vw) 0;

  @media (--desktop) {
    padding: calc(((40 * 100) / var(--device-width)) * 1vw) 0;
  }

  .head {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }
}
