.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: var(--theme-secondary);
  border: 1px solid;
  aspect-ratio: 1 / 1;
  padding: device-vw(24);
  width: device-vw(343);
  background-color: var(--background);
  backdrop-filter: blur(5px);

  &.inverted {
    color: var(--theme-primary);
    background-color: var(--theme-secondary);
  }

  @media (--desktop) {
    width: columns(4);
    padding: device-vw(24);
  }

  .number {
    color: var(--theme-contrast);
    line-height: 90%;
    font-size: device-vw(56);

    @media (--desktop) {
      font-size: device-vw(96);
    }
  }

  .text {
    font-family: var(--font-panchang);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 100%;
    font-size: device-vw(20);

    @media (--desktop) {
      font-size: device-vw(28);
    }

    span {
      font-stretch: normal;
      font-weight: 600;
    }
  }
}
