.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: var(--theme-secondary);
  border: 1px solid;
  aspect-ratio: 1 / 1;
  padding: calc(((24 * 100) / var(--device-width)) * 1vw);
  width: calc(((343 * 100) / var(--device-width)) * 1vw);
  background-color: var(--background);
  backdrop-filter: blur(5px);

  &.inverted {
    color: var(--theme-primary);
    background-color: var(--theme-secondary);
  }

  @media (--desktop) {
    width: columns(4);
    padding: calc(((24 * 100) / var(--device-width)) * 1vw);
  }

  .number {
    color: var(--theme-contrast);
    line-height: 90%;
    font-size: calc(((56 * 100) / var(--device-width)) * 1vw);

    @media (--desktop) {
      font-size: calc(((96 * 100) / var(--device-width)) * 1vw);
    }
  }

  .text {
    font-family: var(--font-panchang);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 100%;
    font-size: calc(((20 * 100) / var(--device-width)) * 1vw);

    @media (--desktop) {
      font-size: calc(((28 * 100) / var(--device-width)) * 1vw);
    }

    span {
      font-stretch: normal;
      font-weight: 600;
    }
  }
}
