.filters {
  padding-top: var(--layout-columns-gap);
  row-gap: var(--layout-columns-gap);

  .search {
    width: 100%;
    color: var(--theme-secondary);
    grid-column: 1 / 3;
    font-size: desktop-vw(16);
    font-weight: 400;
    position: relative;

    .close {
      background: transparent;
      border: none;
      padding: 0;
      cursor: pointer;

      path {
        opacity: 1;
      }
    }

    .magnifier {
      pointer-events: none;
    }

    svg {
      position: absolute;
      width: desktop-vw(16);
      aspect-ratio: 1;
      top: 50%;
      transform: translateY(-50%);
      right: desktop-vw(8);

      @media (--mobile) {
        right: mobile-vw(8);
        width: mobile-vw(16);
      }

      path {
        fill: currentColor;
        opacity: 0.5;
        transition: opacity 300ms var(--ease-out-expo);
      }
    }

    @media (--mobile) {
      grid-column: 1 / -1;
      font-size: mobile-vw(16);
    }

    input {
      height: desktop-vw(32);
      border-radius: desktop-vw(32);
      width: 100%;
      border: 1px solid #8c8c8c;
      background: transparent;
      color: inherit;
      font: inherit;
      outline: none;
      transition-timing-function: var(--ease-out-expo);
      transition-property: border-color;
      transition-duration: 300ms;
      padding: 0 desktop-vw(16);

      &::placeholder {
        color: inherit;
        opacity: 0.5;
      }

      &:active,
      &:focus {
        border-color: var(--theme-secondary);

        + svg {
          path {
            opacity: 1;
          }
        }
      }

      @media (--mobile) {
        height: mobile-vw(32);
        border-radius: mobile-vw(32);
        padding: 0 mobile-vw(16);
      }
    }
  }

  .tags {
    display: flex;
    gap: desktop-vw(8);
    color: var(--theme-secondary);
    justify-content: flex-end;
    grid-column: 4 / -1;
    font-size: desktop-vw(16);

    @media (--mobile) {
      flex-wrap: wrap;
      gap: mobile-vw(8);
      justify-content: space-between;
      font-size: mobile-vw(16);
      grid-column: 1 / -1;
    }

    .tag {
      border: 1px solid #8c8c8c;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 desktop-vw(16);
      height: desktop-vw(32);
      border-radius: desktop-vw(32);
      font-weight: 400;
      transition-property: background-color, color, border-color;
      transition-duration: 300ms;
      transition-timing-function: var(--ease-out-expo);

      @media (--mobile) {
        height: mobile-vw(32);
        border-radius: mobile-vw(32);
        padding: 0 mobile-vw(16);
        flex-grow: 1;
      }

      @media (--hover) {
        &:hover {
          border-color: var(--theme-secondary);
        }
      }

      &.active {
        background-color: var(--theme-contrast);
        color: var(--theme-primary);
        border-color: var(--theme-contrast);
      }
    }
  }
}
