@import 'styles/_functions';

.filters {
  padding-top: var(--layout-columns-gap);

  .search {
    width: 100%;

    // background-color: var(--theme-primary);

    color: var(--theme-secondary);
    // height: desktop-vw(48px);

    grid-column: 1 / 3;
    font-size: desktop-vw(16px);
    font-weight: 400;

    position: relative;

    .close {
      path {
        opacity: 1 !important;
      }
    }

    .magnifier {
      pointer-events: none;
    }

    svg {
      position: absolute;
      width: desktop-vw(16px);
      aspect-ratio: 1;
      top: 50%;
      transform: translateY(-50%);
      right: desktop-vw(8px);

      @include mobile {
        right: mobile-vw(8px);
        width: mobile-vw(16px);
      }

      path {
        fill: currentColor;
        opacity: 0.5;
        transition: opacity 300ms var(--ease-out-expo);
      }
    }

    @include mobile {
      grid-column: 1 / -1;
      font-size: mobile-vw(16px);
    }

    input {
      height: desktop-vw(32px);
      border-radius: desktop-vw(32px);
      width: 100%;
      border: 1px solid #8c8c8c;
      transition-timing-function: var(--ease-out-expo);
      transition-property: border-color;
      transition-duration: 300ms;
      padding: 0 desktop-vw(16px);

      &:active,
      &:focus {
        border-color: var(--theme-secondary);

        + svg {
          path {
            opacity: 1;
          }
        }
      }

      @include mobile {
        height: mobile-vw(32px);
        border-radius: mobile-vw(32px);
        padding: 0 mobile-vw(16px);
      }
    }
  }

  .tags {
    display: flex;
    gap: desktop-vw(8px);
    color: var(--theme-secondary);
    justify-content: flex-end;
    grid-column: 4 / -1;
    font-size: desktop-vw(16px);

    @include mobile {
      flex-wrap: wrap;
      gap: mobile-vw(8px);
      justify-content: space-between;
      font-size: mobile-vw(16px);
      grid-column: 1 / -1;
    }

    .tag {
      border: 1px solid #8c8c8c;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 desktop-vw(16px);
      height: desktop-vw(32px);
      border-radius: desktop-vw(32px);
      font-weight: 400;
      transition-property: background-color, color, border-color;
      transition-duration: 300ms;
      transition-timing-function: var(--ease-out-expo);
      // background-color: var(--theme-primary);

      @include mobile {
        height: mobile-vw(32px);
        border-radius: mobile-vw(32px);
        padding: 0 mobile-vw(16px);
      }

      @include hover {
        &:hover {
          border-color: var(--theme-secondary);
        }
      }

      &.active {
        background-color: var(--theme-contrast);
        color: var(--theme-primary);
        border-color: var(--theme-contrast);
      }
    }
  }
}

// .button {
//   grid-column: span 3 / -1;
// }
// }
