.page {
  height: 1000vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page .wrapper {
  height: 33vw;
  width: 33vw;
  overflow-y: auto;
}

.page .content {
  font-size: 1.4vw;
}
