.item {
  position: relative;

  .inner {
    padding: device-vw(16) 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media (--desktop) {
      flex-direction: row;
      align-items: center;
      padding: device-vw(16) 0;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: device-vw(1);
    background-color: var(--color-grey);
    bottom: 0;
  }

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--theme-contrast);
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 600ms var(--ease-out-expo);
  }

  @media (--mobile) {
    flex-direction: column;

    &::before {
      content: none;
    }
  }

  .title {
    display: flex;
    align-items: center;
    transition: transform 600ms var(--ease-out-expo);
    overflow: hidden;
    flex-shrink: 0;

    .text {
      font-family: var(--font-roboto);
      font-weight: 500;
      line-height: 100%;
      font-size: device-vw(20);
      letter-spacing: -0.03em;

      @media (--mobile) {
        max-width: 70%;
        margin-bottom: device-vw(8);
      }

      @media (--desktop) {
        line-height: 114%;
        font-size: device-vw(28);
      }
    }

    .arrow {
      aspect-ratio: 1 / 1;
      margin-left: auto;
      width: device-vw(19);

      @media (--mobile) {
        flex-shrink: 0;
      }

      @media (--desktop) {
        transform: translate(-20%, 20%);
        opacity: 0;
        margin-left: device-vw(24);
        width: device-vw(19);
      }
    }
  }

  .source {
    font-family: var(--font-roboto);
    font-weight: 900;
    transition: transform 600ms var(--ease-out-expo);
    line-height: 100%;
    letter-spacing: -0.03em;
    font-size: device-vw(20);
    will-change: transform;

    @media (--desktop) {
      text-align: end;
      line-height: 114%;
      font-size: device-vw(28);
    }
  }

  @media (--hover) {
    &:hover {
      &::before {
        transform: scaleY(1);
        transform-origin: bottom;
      }

      .title {
        transform: translateX(device-vw(16));

        .arrow {
          transition:
            opacity 600ms var(--ease-out-expo),
            transform 600ms var(--ease-out-expo);
          opacity: 1;
          transform: translate(0, 0);
          transition-delay: 100ms;
        }
      }

      .source {
        transform: translateX(calc(((-16 * 100) / var(--device-width)) * 1vw));
      }
    }
  }

  @media (--desktop) {
    display: inline-block;
    width: 100%;
    transition: transform 1.2s var(--ease-out-expo);
    transition-delay: calc(100ms * var(--i));

    &::after {
      transition: transform 1.2s var(--ease-out-expo);
      transform-origin: right;
      transition-delay: calc(100ms * var(--i));
    }

    .source {
      overflow: hidden;
    }

    .text,
    .source > * {
      transition: transform 1.2s var(--ease-out-expo);
      display: block;
      transition-delay: calc(100ms * var(--i));
    }

    &:not(.visible) {
      transform: translateY(100%);

      &::after {
        transform: scaleX(0);
      }

      .text,
      .source > * {
        transform: translateY(100%);
      }
    }
  }
}
