.scrollbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 0;

  @media (hover: none) {
    display: none;
  }

  .inner {
    width: 100%;
    height: calc(((4 * 100) / var(--device-width)) * 1vw);
    position: relative;
    background-color: var(--color-pink);
    transform: scaleX(0);
    transform-origin: 0 50%;
  }
}
