.home main > *:not(.canvas) {
  position: relative;
}

/* Override data-theme backgrounds to allow canvas to show through */
.home main > *[data-theme] {
  background-color: transparent;
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  right: 0;
}

.canvas::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 100vw;
  width: 200vw;
  background: radial-gradient(
    var(--color-pink),
    var(--color-pink-transparent) 70%
  );
  transform: translateX(-50%) translateY(50vh);
  opacity: 0.5;
}

.hide-text {
  overflow: hidden;
}

@media (--desktop) {
  .hide-text > * {
    transform: translate3d(0, 200%, 0);
  }
}

@media (--desktop) {
  .show-text > * {
    transform: translate3d(0, 0, 0);
    transition: transform 2050ms var(--ease-out-expo);
    transition-delay: 450ms;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100svh;
  margin-bottom: mobile-vw(160);
  position: relative;
}

@media (--mobile) {
  .hero {
    padding-bottom: mobile-vw(16);
  }

  .hero > div {
    grid-gap: mobile-vw(11);
  }
}

@media (--desktop) {
  .hero {
    height: 100vh;
    margin-bottom: desktop-vw(320);
  }
}

.hero .title {
  grid-column: 1 / -1;
  margin-top: mobile-vw(30);
  width: var(--layout-width);
}

@media (--mobile) {
  .hero .title {
    height: mobile-vw(85);
  }
}

@media (--desktop) {
  .hero .title {
    margin-top: desktop-vw(30);
    position: absolute;
    top: 0;
    left: var(--layout-margin);
  }
}

.hero .icon {
  width: mobile-vw(44);
  height: mobile-vw(39);
}

@media (--desktop) {
  .hero .icon {
    position: relative;
    top: desktop-vw(395);
    width: desktop-vw(44);
    height: desktop-vw(39);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
}

@media (--desktop) {
  .hero .icon.show {
    transition:
      transform 2050ms var(--ease-out-expo),
      opacity 2050ms var(--ease-out-expo);
    transition-delay: 450ms;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.hero .sub {
  display: flex;
  flex-direction: column;
  text-align: end;
  grid-column: 2 / -1;
}

@media (--desktop) {
  .hero .sub {
    position: relative;
    top: desktop-vw(395);
    grid-column: 6 / span 7;
  }
}

.hero .sub .subtitle {
  margin-bottom: mobile-vw(8);
}

@media (--desktop) {
  .hero .sub .subtitle {
    margin-bottom: desktop-vw(12);
  }
}

.hero .sub .tm {
  color: var(--color-grey);
}

.hero .sub .tm span {
  vertical-align: text-top;
}

.hero .bottom {
  overflow: hidden;
}

@media (--desktop) {
  .hero .bottom {
    padding-bottom: desktop-vw(40);
  }
}

.hero .bottom .scroll-hint {
  position: relative;
  grid-column: 1 / span 2;
  transition:
    opacity 0.6s var(--ease-in-out-quad),
    transform 0.6s var(--ease-in-out-quad);
}

.hero .bottom .scroll-hint .text {
  font-family: var(--font-anton);
  text-transform: uppercase;
  line-height: 100%;
}

@media (--desktop) {
  .hero .bottom .scroll-hint .text {
    padding-left: desktop-vw(16);
    font-size: desktop-vw(24);
  }
}

.hero .bottom .scroll-hint::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: desktop-vw(2);
  background-color: var(--color-pink);
  animation: scale 4s infinite;
  animation-play-state: paused;
  transform-origin: 50% 0;
  transform: scale(0);
}

@keyframes scale {
  50% {
    transform: scaleY(1.5);
  }
}

.hero .bottom .scroll-hint.show::before {
  animation-play-state: running;
}

.hero .bottom .scroll-hint.hide {
  opacity: 0;
  transform: translateY(20%);
}

.hero .bottom .scroll-hint.hide::before {
  animation-play-state: paused;
}

.hero .bottom .description {
  grid-column: 1 / -1;
}

@media (--desktop) {
  .hero .bottom .description {
    grid-column: 3 / span 3;
  }
}

.hero .bottom .cta {
  grid-column: 1 / -1;
  text-align: end;
}

.hero .bottom .cta.in {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

@media (--desktop) {
  .hero .bottom .cta {
    transition:
      transform 1850ms var(--ease-out-expo),
      opacity 2050ms var(--ease-out-expo);
    opacity: 0.5;
    transform: translate3d(0, 100%, 0);
  }
}

@media (--desktop) {
  .hero .bottom .cta.documentation {
    grid-column: 7 / 10;
  }
}

@media (--desktop) {
  .hero .bottom .cta.sponsor {
    grid-column: 10 / -1;
  }
}

.why {
  margin-bottom: mobile-vw(160);
}

@media (--desktop) {
  .why {
    margin-bottom: desktop-vw(640);
  }
}

.why .sticky {
  grid-column: 1 / -1;
}

@media (--desktop) {
  .why .sticky {
    position: sticky;
    top: 33%;
    align-self: start;
    border-left: 4px solid var(--theme-contrast);
    grid-column: 3 / span 4;
    padding: desktop-vw(24) desktop-vw(32);
  }
}

.why .features {
  grid-column: 1 / -1;
}

@media (--desktop) {
  .why .features {
    grid-column: 7 / -1;
    margin-top: desktop-vw(256);
  }
}

.why .feature:not(:first-child) {
  margin-top: mobile-vw(120);
}

@media (--desktop) {
  .why .feature {
    width: calc(
      (4 * var(--layout-column-width)) +
      ((4 - 1) * var(--layout-columns-gap))
    );
  }

  .why .feature:not(:first-child) {
    margin-top: desktop-vw(400);
  }
}

.why .feature .title {
  color: var(--theme-contrast);
  margin-bottom: mobile-vw(16);
}

@media (--desktop) {
  .why .feature .title {
    margin-bottom: desktop-vw(24);
  }
}

.rethink .pre {
  margin-bottom: mobile-vw(160);
}

@media (--desktop) {
  .rethink .pre {
    margin-bottom: desktop-vw(240);
  }
}

.rethink .pre .highlight {
  grid-column: 1 / -1;
  margin-bottom: mobile-vw(32);
}

@media (--desktop) {
  .rethink .pre .highlight {
    border-left: 4px solid var(--theme-contrast);
    grid-column: 3 / span 4;
    top: desktop-vw(64);
    margin-bottom: 0;
    padding: desktop-vw(24) 0 desktop-vw(24) desktop-vw(32);
  }
}

.rethink .pre .comparison {
  grid-column: 1 / -1;
}

@media (--desktop) {
  .rethink .pre .comparison {
    grid-column: 7 / span 4;
    margin-top: desktop-vw(256);
  }
}

.rethink .cards {
  margin-bottom: mobile-vw(160);
}

@media (--desktop) {
  .rethink .cards {
    margin-bottom: desktop-vw(400);
  }
}

@media (--desktop) {
  .rethink .cards .card:first-child {
    margin-left: calc(
      calc(
        (6 * var(--layout-column-width)) +
        ((6 - 1) * var(--layout-columns-gap))
      ) +
      var(--layout-margin) +
      var(--layout-columns-gap)
    );
  }

  .rethink .cards .card:not(:last-child) {
    margin-right: calc(
      var(--layout-columns-gap) *
      2 +
      var(--layout-column-width)
    );
  }

  .rethink .cards .card:last-child {
    margin-right: calc(
      calc(
        (2 * var(--layout-column-width)) +
        ((2 - 1) * var(--layout-columns-gap))
      ) +
      var(--layout-margin) +
      var(--layout-columns-gap)
    );
  }
}

.solution {
  position: relative;
  color: var(--color-white);
  height: 500vh;
}

@media (--desktop) {
  .solution {
    height: 1000vh;
  }
}

.solution .inner {
  position: sticky;
  top: 0;
  margin: 0 auto;
  overflow: hidden;
  height: calc(100 * var(--vh, 1vh));
}

.solution .inner::after {
  content: "";
  background-color: currentColor;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%) scaleX(var(--progress2));
  top: 0;
}

@media (--desktop) {
  .solution .inner {
    height: 100vh;
  }
}

.solution .inner .zoom {
  align-self: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transform: scale(calc(1 + (var(--progress1)) * 3));
  padding: calc(((16 * 100) / 650) * 1vh);
}

@media (--desktop) {
  .solution .inner .zoom {
    padding: calc(((40 * 100) / 816) * 1vh) var(--layout-margin);
  }
}

.solution .first {
  transform: translateY(calc(var(--progress1) * -100%));
}

.solution .second {
  text-align: end;
}

.solution .enter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-54.2%, -50%) scale(calc((var(--progress1) * 18.2)));
  transform-origin: 50% calc(50% - (var(--progress1) * 27%));
  opacity: calc(var(--progress1) * 2);
  text-align: center;
}

@media (--desktop) {
  .solution .enter {
    transform: translate(-50%, -50%) scale(calc((var(--progress1) * 8.5)));
    transform-origin: 50% calc(50% - (var(--progress1) * 25%));
  }
}

.featuring {
  position: relative;
  padding-bottom: mobile-vw(160);
  color: var(--theme-secondary);
}

.featuring::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: mobile-vw(150);
  position: absolute;
  background: linear-gradient(
    to bottom,
    var(--theme-primary),
    var(--theme-primary-transparent)
  );
}

@media (--desktop) {
  .featuring::before {
    height: desktop-vw(150);
  }
}

@media (--desktop) {
  .featuring {
    padding: desktop-vw(40) 0;
    padding-bottom: desktop-vw(320);
  }
}

.featuring .inner {
  position: relative;
}

.featuring .intro {
  padding-bottom: mobile-vw(160);
}

@media (--desktop) {
  .featuring .intro {
    padding-bottom: desktop-vw(440);
  }
}

.in-use {
  padding-bottom: mobile-vw(160);
  color: var(--theme-secondary);
}

@media (--desktop) {
  .in-use {
    padding-bottom: desktop-vw(400);
  }
}

.in-use .title {
  grid-column: 1 / -1;
}

@media (--desktop) {
  .in-use .title {
    grid-column: 1 / span 5;
  }
}

.in-use .list {
  grid-column: 1 / -1;
}

@media (--desktop) {
  .in-use .list {
    grid-column: 6 / span 7;
  }
}

.in-use .showcaseCta {
  grid-column: 1 / -1;
}

@media (--desktop) {
  .in-use .showcaseCta {
    grid-column: 6 / span 7;
  }
}

.temp {
  height: 100vh;
  opacity: 0.95;
  display: flex;
  align-items: center;
}
