.navigation {
  height: 0;
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: 1s height var(--ease-out-expo);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation.closed {
  pointer-events: none;
  height: 0;
}

.navigation.closed > * {
  opacity: 0;
}
