.wrapper {
  .inner {
    overflow: hidden;
    display: flex;

    .overflow {
      display: flex;

      > * {
        flex-shrink: 0;
      }
    }

    @media (--mobile) {
      width: device-vw(375);
    }

    @media (--desktop) {
      position: sticky;
      --height: device-vw(440);
      top: calc((100vh - var(--height)) / 2);
    }

    @media (--mobile) {
      .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        > * {
          margin-bottom: device-vw(32);
        }
      }
    }
  }
}
