.wrapper {
  .inner {
    overflow: hidden;
    display: flex;

    .overflow {
      display: flex;

      > * {
        flex-shrink: 0;
      }
    }

    @media (--mobile) {
      width: calc(((375 * 100) / var(--device-width)) * 1vw);
    }

    @media (--desktop) {
      position: sticky;
      --height: calc(((440 * 100) / var(--device-width)) * 1vw);
      top: calc((100vh - var(--height)) / 2);
    }

    @media (--mobile) {
      .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        > * {
          margin-bottom: calc(((32 * 100) / var(--device-width)) * 1vw);
        }
      }
    }
  }
}
