@import './_reset.scss';
@import './_fonts.scss';
@import './_colors.scss';
@import './_easings.scss';
@import './_functions.scss';
@import './_layout.scss';
@import './_utils.scss';
@import './_font-style.scss';
@import './_themes.scss';
@import './_scroll.scss';
@import './_rich-text.scss';

:root {
  --header-height: #{mobile-vw(58px)};

  @include desktop {
    --header-height: #{desktop-vw(98px)};
  }
}

html {
  font-family: var(--font-anton);
  scrollbar-width: thin;

  &.nav {
    overflow: hidden;
  }
}

html.lenis-stopped {
  overflow: hidden;
}

// html,
// body {
//   overscroll-behavior-y: none;
// }

body {
  min-height: 100vh;
}

// custom cursor
// html.has-custom-cursor {
//   &,
//   * {
//     &,
//     &::before,
//     &::after {
//       cursor: none !important;
//     }
//   }
// }

a,
button,
input,
label,
textarea,
select {
  color: inherit;
  cursor: pointer;
}

*::selection {
  background-color: var(--theme-contrast);
  color: var(--theme-primary);
}

svg.icon {
  path[fill],
  rect[fill],
  circle[fill] {
    fill: currentColor;
  }

  path[stroke],
  rect[stroke],
  circle[stroke] {
    stroke: currentColor;
  }
}

.intro {
  overflow: hidden;
}

.link {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    transform-origin: bottom left;
    transition: transform 600ms var(--ease-out-expo);
  }

  &:not(:hover) {
    &::after {
      transform: scaleX(0);
      transform-origin: bottom right;
    }
  }
}
