@import 'styles/_functions';

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  right: 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100vw;
    width: 200vw;
    background: radial-gradient(var(--pink), var(--pink-transparent) 70%);
    // background: linear-gradient(to top, var(--pink), var(--pink-transparent));
    transform: translateX(-50%) translateY(50vh);
    opacity: 0.5;
  }

  &,
  & * {
    pointer-events: none !important;
  }
}

.page {
  background-color: var(--theme-primary);
  min-height: 100svh;
  // position: relative;

  .logo {
    position: absolute;
    top: var(--layout-margin);
    left: var(--layout-margin);
    width: desktop-vw(40px);
    z-index: 1;
    background-color: var(--theme-contrast);
    padding: desktop-vw(6px);
    border-radius: desktop-vw(8px);
    transition: transform 600ms var(--ease-out-expo);

    svg {
      width: 100%;
      height: auto;
      display: block;

      path {
        fill: var(--theme-primary);
        // transition: fill 300ms var(--ease-out-expo);
      }
    }

    @include hover {
      &:hover {
        // transform: scale(1.1);
        //     svg {
        //       path {
        //         fill: var(--theme-secondary);
        //       }
        //     }
      }
    }
  }

  .hero {
    height: 65vh;
    color: var(--theme-contrast);
    display: flex;
    flex-direction: column;
    gap: desktop-vw(48px);
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--theme-secondary);

    @include mobile {
      justify-content: space-between;
      padding-top: mobile-vw(64px);
      margin-bottom: mobile-vw(64px);
      gap: mobile-vw(48px);
    }

    .tagline {
      display: flex;
      flex-direction: column;
      gap: desktop-vw(12px);
      // margin-bottom: var(--layout-columns-gap);

      @include mobile {
        gap: mobile-vw(12px);
      }

      .title {
        @include mobile {
          font-size: mobile-vw(60px);
        }
      }

      .subtitle {
        @include mobile {
          font-size: mobile-vw(16px);
        }
      }
    }

    .buttons {
      display: flex;
      gap: var(--layout-columns-gap);

      @include mobile {
        flex-direction: column;
        width: 100%;
        gap: mobile-vw(11px);
      }

      > * {
        @include desktop {
          flex-shrink: 0;
          width: columns(3);
        }
      }
    }
  }

  .filters {
    margin-bottom: var(--layout-columns-gap);
    position: relative;
  }

  .grid {
    // row-gap: calc(var(--layout-columns-gap) * 2);
    margin-bottom: desktop-vw(160px);
    align-items: flex-start;
    min-height: 100svh;

    .card {
      grid-column: span 3;

      @include mobile {
        grid-column: 1 / -1;
      }
    }

    &:not(.isFiltered) {
      align-content: flex-start;

      .card {
        &:nth-child(1),
        &:nth-child(2) {
          grid-column: span 6;
        }
      }
    }

    .noResults {
      grid-column: 1 / -1;
      text-align: center;
      font-size: desktop-vw(24px);
      font-weight: 500;
      color: var(--theme-secondary);
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--layout-columns-gap);

      .button {
        width: 100%;
        @include desktop {
          width: columns(3);
        }
      }
    }
  }

  // .featured {
  //   grid-column: span 6;
  // }
}
