@import 'styles/_functions';

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  right: 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100vw;
    width: 200vw;
    background: radial-gradient(var(--pink), var(--pink-transparent) 70%);
    // background: linear-gradient(to top, var(--pink), var(--pink-transparent));
    transform: translateX(-50%) translateY(50vh);
    opacity: 0.5;
  }
}

.page {
  background-color: var(--theme-primary);
  min-height: 100vh;

  .hero {
    height: 80vh;
    color: var(--theme-contrast);
    display: flex;
    flex-direction: column;
    gap: var(--layout-columns-gap);
    align-items: center;
    justify-content: center;
    text-align: center;

    color: var(--theme-secondary);

    .tagline {
      display: flex;
      flex-direction: column;
      gap: desktop-vw(8px);
      margin-bottom: var(--layout-columns-gap);
    }
  }

  .grid {
    // row-gap: calc(var(--layout-columns-gap) * 2);
    margin-bottom: desktop-vw(160px);
    align-items: flex-end;
  }

  .filters {
    margin-bottom: var(--layout-columns-gap);
  }

  .subgrid {
    grid-column: span 6;
    // display: grid;
    // grid-template-columns: repeat(6, minmax(0, 1fr));
    // // grid-template-rows: auto auto;
    // grid-gap: var(--layout-columns-gap);
    align-self: stretch;
    // align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: var(--layout-columns-gap);

    .blank {
      // background-color: var(--pink);
      flex-grow: 1;
      // aspect-ratio: 26/9;
      display: flex;
      flex-direction: column;
      gap: desktop-vw(8px);
      align-items: flex-start;

      // .search {
      //   width: 100%;
      //   border: 1px solid var(--theme-secondary);
      //   padding: 0 desktop-vw(16px);
      //   background-color: var(--theme-primary);
      //   color: var(--theme-secondary);
      //   height: desktop-vw(48px);
      // }

      // .tags {
      //   display: flex;
      //   gap: var(--layout-columns-gap);

      //   .tag {
      //     border: 1px solid var(--theme-secondary);
      //     display: flex;
      //     align-items: center;
      //     justify-content: center;
      //     padding: 0 desktop-vw(16px);
      //     height: desktop-vw(32px);
      //   }
      // }
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(6, minmax(0, 1fr));
      grid-gap: var(--layout-columns-gap);
    }
  }

  .card {
    grid-column: span 3;
  }

  .featured {
    grid-column: span 6;
  }
}
